body{
    background-color: #A5B3CF;
}

.slidecontainer {
    width: 50%;
    float: left;
    margin-top: -2%;
}

.slider {
    -webkit-appearance: none;
    width: 100%;
    height: 1.5vw;
    border-radius: 20px;
    background: #d3d3d3;
    outline: none;
    opacity: 0.7;
    -webkit-transition: .2s;
    transition: opacity .2s;
}

.slider:hover {
    opacity: 1;
}

.slider::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 1.5vw;
    height: 1.5vw;
    border-radius: 20px;
    background: #80B08A;
    cursor: pointer;
}

.slider::-moz-range-thumb {
    width: 25px;
    height: 25px;
    background: #04AA6D;
    cursor: pointer;
}

.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}

#mainPic{
    height: 100%;
    border-style: solid;
    border-radius: 1px;
    border-color: black;
}

#taskbarImage{
    position: fixed;
    bottom: 0px;
    height: 30%;
    width: 100%;
}

#kelvinImage{
    width: 20%;
    margin-left: 70%;
}

#divcontainer{
    width: 100%;
    margin: 0 auto;
}

#resultscontainer{
    width: 50%;
    margin-left: 50%;
}

#currentValue{
    font-size: 2.5vw;
    position: fixed;
    top: 25%;
    left: 50%;
}

#popupText {
    font-size: 1vw;
    margin-left: 15%;
    /*margin-top: -30%;*/
    position: absolute;
    display: inline-block;
    padding: 1vw;
    padding-right: 1vw;
    visibility: hidden;
    max-width: 15vw;
    width: 30%;
}

#headerText {
    font-family: voltaire;
    font-size: 3vw;
    text-align: center;
    font-style: unset;
}

#categoryText {
    font-family: voltaire;
    font-size: 1.5vw;
    text-align: center;
}

.box {
    width: 300px;
    margin: 50px auto;
    border: 4px solid black;
    border-radius: 20px;
    padding: 20px;
    text-align: center;
    font-weight: 900;
    color: black;
    font-family: arial;
    position: relative;
}

.sb8:before {
    content: "";
    width: 0px;
    height: 0px;
    position: absolute;
    border-left: 10px solid transparent;
    border-right: 10px solid black;
    border-top: 10px solid black;
    border-bottom: 10px solid transparent;
    right: 20px;
    bottom: -23px;
}

.sb8:after {
    content: "";
    width: 0px;
    height: 0px;
    position: absolute;
    border-left: 10px solid transparent;
    border-right: 10px solid #A5B3CF;
    border-top: 10px solid #A5B3CF;
    border-bottom: 10px solid transparent;
    right: 24px;
    bottom: -13px;
}



/*p.bubble {*/
/*    position: relative;*/
/*    width: 300px;*/
/*    text-align: center;*/
/*    line-height: 1.4em;*/
/*    margin: 40px auto;*/
/*    background-color: #fff;*/
/*    border: 8px solid #333;*/
/*    border-radius: 30px;*/
/*    font-family: sans-serif;*/
/*    padding: 20px;*/
/*    font-size: large;*/
/*}*/

/*p.thought {*/
/*    width: 300px;*/
/*    border-radius: 200px;*/
/*    padding: 30px;*/
/*}*/

/*p.bubble:before,*/
/*p.bubble:after {*/
/*    content: ' ';*/
/*    position: absolute;*/
/*    width: 0;*/
/*    height: 0;*/
/*}*/

/*p.speech:before {*/
/*    left: 30px;*/
/*    bottom: -50px;*/
/*    border: 25px solid;*/
/*    border-color: #333 transparent transparent #333;*/
/*}*/

/*p.speech:after {*/
/*    left: 38px;*/
/*    bottom: -30px;*/
/*    border: 15px solid;*/
/*    border-color: #fff transparent transparent #fff;*/
/*}*/

/*p.thought:before,*/
/*p.thought:after {*/
/*    left: 10px;*/
/*    bottom: -30px;*/
/*    width: 40px;*/
/*    height: 40px;*/
/*    background-color: #fff;*/
/*    border: 8px solid #333;*/
/*    -webkit-border-radius: 28px;*/
/*    -moz-border-radius: 28px;*/
/*    border-radius: 28px;*/
/*}*/

/*p.thought:after {*/
/*    width: 20px;*/
/*    height: 20px;*/
/*    left: 5px;*/
/*    bottom: -40px;*/
/*    -webkit-border-radius: 18px;*/
/*    -moz-border-radius: 18px;*/
/*    border-radius: 18px;*/
/*}*/



